@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

html {
    scroll-behavior: smooth;
}


body {
    background-color: rgb(36, 105, 196);
}

h1 {
    color: #000000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

h2 {
    color: #cecece;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

p {
    color: #cecece;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
}

h5{
   color: #cecece5b;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
}    

button {
    background-color: rgba(197, 191, 191, 0.755);;
    border-radius: 6px;
}

.brave {
    display: inline-block;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-color: rgba(11, 50, 67, 0.684);;
    padding: 10px;
    margin-left: 0em;
    margin-top: 0em;
    box-shadow:10px 10px 10px rgba(5, 5, 5, 0.667);
}

.chocolately {
    display: inline-block;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-color: rgba(11, 50, 67, 0.684);
    padding: 10px;
    margin-left: 0em;
    box-shadow:10px 10px 10px rgba(5, 5, 5, 0.667);
}

.tor {
    display: inline-block;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-color: rgba(11, 50, 67, 0.684);
    padding: 10px;
    box-shadow:10px 10px 10px rgba(5, 5, 5, 0.667);
}

.vscode {
    display: inline-block;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-color: rgba(11, 50, 67, 0.684);
    padding: 10px;
    margin-left: 0em;
    box-shadow:10px 10px 10px rgba(5, 5, 5, 0.667);

}
 
.title{
    background-color: rgb(44, 38, 136);
    border-radius: 100px;
    font-family: Georgia;
    margin-top: 10px;
    border:none;
    outline: none;
    padding: 10px;
    box-shadow:20px 20px 20px rgb(5, 5, 5);
}

.topnav {
    background-color: rgba(72, 73, 80, 0.448);
    overflow: hidden;
    border-radius: 52px;
    display: inline-block;
    text-align:center
}
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

  .topnav a:hover {
    background-color: rgba(102, 121, 147, 0.602);
    color: black;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 